$table-border-width: 1px;
$table-padding:1rem;
$table-padding-sm: 0.5rem;

//color


$body-color: #212529;
$text-white:#fff;
$thead-light:#e9ecef;


$table-hover-bg: #f5f5f5;
$table-border-color: #dee2e6;
$table-dark-border-color:#32383e;

//table-color

$active-color:rgba(0,0,0,.075);
$primary-color:#b8daff;
$secondary-color:#d6d8db;
$success-color:#c3e6cb;
$danger-color:#f5c6cb;
$warning-color:#ffeeba;
$info-color:#bee5eb;
$light-color:#fdfdfe;
$dark-color:#212529;

//warm-colors

$bg-primary-color: #007bff;
$bg-success-color: #28a745;
$bg-danger-color: #17a2b8;
$bg-warning-color:#ffc107;
$bg-info-color:#dc3545;