@import "variables";
@import "functions";


@import "base";


@import "table";

@import "colors";


@import "breakpoints";
@import "grid";




  
  .table {
    width: 100%;
    margin-bottom: $table-padding;
    border-collapse: collapse;
  
    th,
    td {
      padding: $table-padding;
      border-top: $table-border-width solid $table-border-color;
    }
  }

.table-dark{
    color: $text-white;
    border: $table-border-width solid $table-dark-border-color;
}



